* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-wrap: wrap;
  background: #022c43;
  color: rgb(233, 233, 233);
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px;
}
body .form__header,
body .card-container .card-container__title {
  letter-spacing: 0.9px;
}
body .form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
body .form .form__input {
  border: none;
  border-radius: 7px;
  height: 40px;
  outline: none;
  padding: 0 10px;
  transition: 0.8s;
  width: 100%;
}
body .form .form__input::placeholder {
  text-transform: uppercase;
  color: #115173;
}
body .form .form__input:focus {
  box-shadow: 1px 1px 12px #dbdbdb;
}
body .form button {
  background: #ffd700;
  border: none;
  border-radius: 7px;
  color: #115173;
  font-size: 22px;
  font-weight: bolder;
  height: 35px;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 100%;
}
body .form button:hover {
  background: #ffdf2d;
  box-shadow: 1px 1px 3px #dbdbdb;
}
body .card-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 40px;
  width: 100%;
}
body .card-container .card,
body .card-container .card__names {
  align-items: center;
  background: #115173;
  display: grid;
  grid-template-columns: repeat(3, 50% 30% 20%);
  height: 60px;
  padding: 0 10px;
  width: 100%;
}
body .card-container .card__names {
  background: none;
}
body .card-container .card__names span,
body .card-container .card span {
  align-items: center;
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.219);
  padding: 0 8px;
  height: 100%;
}
body .card-container .card__names span {
  font-size: 14px;
  font-weight: 800;
}
body .card-container .card__names span:last-child {
  border: none;
}
body .card-container .card span {
  font-size: 14px;
}
body .card-container .card .card__thumbnail {
  height: 45px;
  margin: 0 auto;
  width: auto;
}
body .card-container .card:nth-child(2n) {
  background: #053f5e;
}
body .whatsapp {
  background: rgba(255, 255, 255, 0.123);
  border-radius: 20px;
  bottom: 10px;
  cursor: pointer;
  height: auto;
  position: absolute;
  right: 10px;
  width: 60px;
  z-index: 2;
}

body .whatsapp-box {
  background: #fff;
  transform: scaleY(0);
  transform-origin: bottom;
  height: calc(100% - 90px);
  right: 0;
  position: absolute;
  top: 0;
  transition: 0.1s;
  width: 100vw;
  max-width: 400px;
  z-index: 1;
}
body .whatsapp-box__active {
  transform: scaleY(1);
}
body .whatsapp-box .whatsapp__header {
  background: #053f5e;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
}
body .whatsapp-box .whatsapp__header h2 {
  text-align: center;
  text-transform: uppercase;
  line-height: 10px;
  position: relative;
  z-index: 3;
}
body .whatsapp-box .whatsapp__content {
  height: calc(100% - 170px);
  overflow-y: scroll;
  margin-top: 60px;
  padding: 0 10px;
}
body .whatsapp-box .whatsapp__content .mensaje {
  background: white;
  border: 1px solid #053f5e;
  border-radius: 6px;
  box-shadow: 1px 1px 0px #053f5e, 2px 2px 0px #053f5e, 3px 3px 0px #053f5e;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}
body .whatsapp-box .whatsapp__content .mensaje .mensaje__info {
  display: flex;
  justify-content: space-between;
  max-height: 16px;
  overflow: hidden;
}
body .whatsapp-box .whatsapp__content .mensaje span {
  display: block;
}
body .whatsapp-box .whatsapp__content .mensaje .email,
body .whatsapp-box .whatsapp__content .mensaje .fecha {
  color: #053f5e;
}
body .whatsapp-box .whatsapp__content .mensaje .email {
  font-weight: bolder;
  font-size: 13px;
}
body .whatsapp-box .whatsapp__content .mensaje .fecha {
  font-weight: lighter;
  font-size: 12px;
}
body .whatsapp-box .whatsapp__content .mensaje .sms {
  color: black;
  margin-top: 10px;
  letter-spacing: 0.5px;
}
body .whatsapp-box .whatsapp__content .mensaje::after {
  content: "";
  border-style: solid;
  border-width: 9px 6px 9px 6px;
  border-color: transparent #053f5e transparent transparent;
  top: 5px;
  position: absolute;
  right: 100%;
}
body .whatsapp-box .whatsapp__input {
  padding: 10px 10px;
  background: #053f5e;
}
body .whatsapp-box .whatsapp__input input {
  border-radius: 7px;
  border: none;
  height: 40px;
  outline: none;
  padding: 0 10px;
  margin-bottom: 5px;
  transition: 0.8s;
  width: 80%;
}
body .whatsapp-box .whatsapp__input .mensaje__inputEmail {
  width: 100%;
}
body .whatsapp-box .whatsapp__input .mensaje__inputEmail:read-only {
  background: #053f5e;
  color: white;
  letter-spacing: 0.3px;
  font-weight: bolder;
}
body .whatsapp-box .whatsapp__input .mensaje__input {
  width: 85%;
}
body .whatsapp-box .whatsapp__input input::placeholder {
  color: #115173;
  text-transform: uppercase;
}
body .whatsapp-box .whatsapp__input div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
body .whatsapp-box .whatsapp__input .send_button {
  width: 10%;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
}
@media (min-width: 768px) {
  body {
    align-items: flex-start;
    justify-content: space-between;
  }
  body .form {
    width: 50%;
  }
  body .card-container {
    margin: 0;
    width: 45%;
  }
  body .whatsapp-box {
    box-shadow: 1px 1px 8px black;
    right: 40px;
    top: 10px;
  }
}
@media (min-width: 1440px) {
  body {
    padding: 0 200px;
  }
}
