<img class="whatsapp" id="whatsapp" src="https://cdn.icon-icons.com/icons2/2201/PNG/512/whatsapp_logo_icon_134017.png"
    alt="Whatsapp" />
<div id="whatsapp-box" class="whatsapp-box">
    <div class="whatsapp__header">
        <h2>Chat</h2>
    </div>
    <div class="whatsapp__content" id="whatsapp__content">


    </div>
    <div class="whatsapp__input">
        <input id="email" type="text" name="email" class="mensaje__inputEmail" placeholder="Email" />
        <div>
            <input id="mensajeSMS" type="text" name="sms" class="mensaje__input" placeholder="Mensaje" /> <img
                class="send_button" id="send_button"
                src="https://icons-for-free.com/iconfiles/png/512/content+send+icon-1320087227200139227.png"
                alt="send-button">
        </div>
    </div>
</div>

</div>