<div class="card-container">
    {{#if suggestedChamps}}
    <h2 class="card-container__title">Productos</h2>
    <div class="card__names">
        <span>Nombre</span>
        <span>Precio</span>
        <span>Imagen</span>
    </div>
    {{#each suggestedChamps}}
    <div class="card">
        <span class="card__title">{{this.title}}</span>
        <span class="card__price">${{this.price}}</span>
        <img class="card__thumbnail" src={{this.thumbnail}} alt="icon"></img>
    </div>
    {{/each}}
    {{else}}
    <h2 class="card-container__title">No hay Productos Cargados</h2>
    {{/if}}
</div>